:root {
  --white: #fff;
}
h5 {
  font-weight: lighter;
  color: #ccc;
}
.body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1200px;
}
.main-form {
  background-color: white;
  margin: 3vh 3vh;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 530px;
}
#sidebar {
  min-width: 10%;
  min-height: 700px;
  background-image: url("'data:image/svg+xml;charset=utf-8,''../../../../../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  position: absolute;
  float: right;
  margin-left: 55px;
  margin-right: auto;
  margin-top: 52px;
  padding: 1rem;
  color: #fff;
}
.sidebar-info {
  display: flex;
  flex-direction: column;
}
.circle.active {
  border-radius: 50%;
  width: 24px;
  height: 22px;
  padding: 10px;
  background: white;
  border: none;
  color: #000;
  text-align: center;
  font: 14px Arial, sans-serif;
}

.circle {
  border-radius: 50%;
  width: 24px;
  height: 22px;
  padding: 10px;
  background: none;
  border: 1px solid hsl(231, 100%, 99%);
  color: hsl(231, 100%, 99%);
  text-align: center;
  font: 14px Arial, sans-serif;
}

.steps,
.tiles {
  text-transform: uppercase;
}
.steps {
  padding: 20px 0;
  display: flex;
}
.step-number {
  padding: 0 15px;
}
.step-n {
  font-weight: lighter;
}
.step-name {
  font-weight: 700;
}

#slider {
  display: flex;
  justify-content: center;
  background-color: hsl(231, 100%, 99%);
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  margin: auto;
  padding: 10px;
}
#slider > input {
  width: 25px;
  color: #ccc;
}
#form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.final > h5 {
  text-align: center;
}
.titles {
  padding-left: 300px;
}
.form {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 300px;
}
.form-tile {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}
.form > input[type="submit"] {
  margin-right: auto;
}
.form-tile > input[type="text"],
.form-tile > input[type="phone"],
.form-tile > input[type="email"] {
  padding: 8px;
}
.plans {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  justify-content: space-around;
  margin-bottom: 30px;
}
.class-btns {
  padding: 15px 13px;
  margin: 10px;
  border-radius: 5px;
  min-width: 100px;
  min-height: 150px;
  width: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .class-btns {
  border: 3px solid #000;
  background-color: #ccc;
}
.plans img {
  width: 50px;
}

.text-class > p {
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:checked + .tile-checkbox {
  border: 3px solid #000;
  background-color: #ccc;
}

.tile-checkbox {
  padding: 10px;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tile-checkbox label {
  display: flex;

  padding: 10px;
  width: 100%;
}
.addons-text {
  display: flex;
  flex-direction: column;
}
.addons-prices {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tile-prices {
  color: blue;
}
.btns {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.alert {
  color: red;
  display: flex;
  justify-content: flex-end;
}
.alert-border {
  border: 1px solid red;
}
.plan,
.addons,
.total {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .sidebar-info {
    align-items: center;
  }
  .form {
    padding-left: 170px;
  }
  .titles {
    padding-left: 170px;
  }
}

@media (max-width: 520px) {
  body {
    justify-content: "center";
  }
  .body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70vh;
    min-width: 350px;
  }
  #sidebar {
    width: 100%;
    min-height: 400px;
    background-image: url("'data:image/svg+xml;charset=utf-8,''../../../../../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .sidebar-info {
    display: none;
  }
  .main-form {
    position: absolute;
    max-width: 90%;
    margin-top: 10vh;
    padding: 0rem;
    height: auto;
    width: auto;
    align-items: center;
  }
  .plans {
    flex-direction: column;
  }

  .class-btns {
    flex-direction: row;
    min-height: 0;
  }
  .btns {
    justify-content: space-around;
    position: absolute;
    bottom: 0;

    background-color: #fff;
  }
  #slider {
    margin-right: auto;
    margin-left: auto;
  }
  .btns > button,
  input {
    height: 4vh;
  }
  .main-form {
    align-self: center;
  }
  .form {
    width: 100%;
    padding-left: 0;
  }
  .titles {
    padding-left: 0;
  }
}
